* {
  margin: 0;
  padding: 0;
}

body {
  background: #223;
  font-family: 'Pontano Sans', sans-serif;
  color: #ccc;
}

#text {
  background: #28283f;
  margin: 0 auto;
  width: 30em;
  padding: 5em 2em;
  outline: 0px solid;
}

#sources {
  width: 7em;
  margin: 0 auto;
  height: 0;
  position: relative;
  left: -20em;
  top: 5em;
  list-style-type: none;
  color: #889;
}

#spinner {
  width: 7em;
  margin: 0 auto;
  height: 0;
  position: relative;
  left: 20em;
  top: 6em;
}

#sources {
  cursor: pointer;
}
#sources li .plus {
  color: transparent;
}

#sources li.selected {
  font-weight: bold;
  color: #ccc;
  text-shadow: 0 0 3px rgba(200,200,200,0.5);
}

#sources li.selected .plus {
  color: #ccc;
}

input[type=checkbox] {
  background: #f00;
}

#attribution {
  width: 30em;
  padding: 2em;
  margin: 0 auto;
  color: #667;
  text-align: right;
}

#attribution p {
  font-size: .8em;
}

#attribution p a {
  color: #889;
  text-decoration: none;
  border-bottom: 1px solid #445;
}
